@media (max-width: 768px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-color: rgb(225, 255, 143);
        background-image: url(image/mobile-star.svg);
        background-size: 60%;
        background-position-x: 65vw;
        background-position-y: -20vw;
        height: 100%;
        position: relative;
        padding-bottom: 285px;
    }


    .top {
        width: 100%;
        padding-top: 147px;
        padding-left: 0px;
        height: auto;

        &-head {
            color: rgb(32, 32, 39);
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
        }

        &-text {
            color: rgb(32, 32, 39);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
        }

        &-star1 {
            display: none;
        }

        &-star2 {
            display: none;
        }


        &-star3 {
            display: none;
        }


        &-star4 {
            display: none;
        }

        &-stars {
            display: contents;
        }

        &-mob4 {
            position: absolute;
            left: 80%;
            top: 140%
        }

        &-mob5 {
            position: absolute;
            left: 75%;
            top: 135%
        }

        &-mob6 {
            position: absolute;
            left: 10%;
            top: 25%
        }

        &-mob7 {
            position: absolute;
            left: 25%;
            top: 20%
        }



        &-btn {
            width: 285px;
            height: 55px;
            padding-top: 10px;
            display: block;
            margin-top: 0;
            margin-left: 0;
            position: absolute;
            left: 15%;
            top: 65%
        }
    }


    .frame {
        height: 52px;


        &__quiz {
            font-size: 16px;
            font-weight: 700;
            line-height: 110%;
            letter-spacing: 4%;
            text-align: left;
            text-transform: uppercase;
        }


        &__star1 {
            display: none;
        }

        &__star2 {
            display: none;
        }

        &__quiz2 {
            display: none;
        }


        &__star3 {
            display: none;
        }

        &__star-mob {
            display: contents;
        }
    }

    .game {


        &-box {
            padding-left: 0px;
            padding-right: 0px;

            &__text {
                display: none;
            }

            &__top {
                display: none;
            }

            &__mob {
                padding-top: 80px;
                display: block;
                color: rgb(255, 255, 255);
                font-size: 40px;
                font-weight: 700;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: left;

            }
        }

        &-star {
            display: none;
        }

        &-star2 {
            display: none;
        }


        &-case {
            margin-top: 72px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 32px;

            &__high {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
            }

            &__low {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
            }
        }


        &-play1 {
            width: 100%;
            height: 550px;
            transform: none;


            &__top {
                padding-top: 30px;
                padding-bottom: 16px;
            }
        }


        &-play2 {
            width: 100%;
            height: 590px;
            transform: none;

            &__top {
                padding-top: 30px;
                padding-bottom: 16px;
            }
        }


        &-play3 {
            width: 100%;
            height: 555px;
            transform: none;


            &__top {
                padding-top: 30px;
                padding-bottom: 16px;
            }
        }


        &-play4 {
            width: 100%;
            height: 590px;
            transform: none;


            &__top {
                padding-top: 30px;
                padding-bottom: 16px;
            }
        }


        &-play5 {
            width: 100%;
            height: 590px;
            transform: none;


            &__top {
                padding-top: 30px;
                padding-bottom: 16px;
            }
        }


        &-play6 {
            width: 100%;
            height: 650px;
            transform: none;


            &__top {
                padding-top: 30px;
                padding-bottom: 16px;
            }
        }


        &-bth {
            display: none;
        }

        &-text {
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            color: rgb(0, 0, 0);
            padding-right: 30px;
            padding-left: 30px;
        }


        &-button {
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 285px;
            height: 55px;
            margin-top: 25px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            margin-left: 32px;
            display: block;
            padding-top: 15px;
        }
    }


    .footer {
        background: rgb(189, 237, 53);
        width: 100%;
        height: 100px;
        display: block;


        &-text {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;


        }
    }
}