* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}



.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 800px;
    background-color: rgb(225, 255, 143);
    background-image: url(image/Group\ 1597880565.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 48vw -40vw;
}

.top {
    width: 768px;
    height: 244px;
    padding-top: 196px;
    position: relative;

    &-head {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &-text {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;

        &__go {
            font-weight: 600;
        }
    }

    &-btn {
        margin-top: 48px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        height: 66px;
        width: 247px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        cursor: pointer;
        display: block;
        padding-top: 15px;
    }


    &-star1 {
        position: absolute;
        left: 7%;
        top: 20%;
    }


    &-star2 {
        position: absolute;
        left: 17%;
        top: 15%;
    }


    &-star3 {
        position: absolute;
        right: -15%;
        bottom: -20%;
    }


    &-star4 {
        position: absolute;
        bottom: -40%;
        right: -25%;
    }


    &-stars {
        display: none;
    }
}

.frame {
    display: flex;
    align-items: center;
    gap: 51px;
    height: 90px;
    position: absolute;
    top: 710px;
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    flex-wrap: nowrap;


    &__quiz {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
    }



    &__quiz2 {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
    }

    &__star-mob {
        display: none;
    }
}



.game {
    background: rgb(32, 32, 39);
    padding-bottom: 50px;




    &-box {
        background-image: url(image/Star-big-yellow.svg);
        background-repeat: no-repeat;
        background-position-x: 110%;
        background-position-y: 15%;
        position: relative;
        padding-bottom: 50px;

        &__mob {
            display: none;
        }


        &__top {
            font-size: 64px;
            font-weight: 700;
            line-height: 78px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 94px;
            padding-bottom: 24px;
            color: rgb(255, 255, 255);
        }

        &__text {
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            width: 788px;
            height: 96px;
            padding-bottom: 72px;
        }
    }

    &-star {
        display: block;
        position: absolute;
        left: -3%;
        top: 60%;
    }


    &-star2 {
        display: block;
        position: absolute;
        left: -5%;
        top: 57%;

    }


    &-case {
        margin-top: 72px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;




        &__high {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: flex-start;
            gap: 32px;

        }

        &__low {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: flex-end;
            gap: 32px;
        }


    }

    &-link {
        display: block;
        width: 100%;
        height: auto;
    }


    &-play1 {
        width: 378px;
        height: 500px;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 30px;
        background-color: white;
        grid-column: span 4;
        transition: 1s;
        transform: 0.5s;

        &:hover {
            transform: scale(110%);

        }

        &__img {
            width: 100%;
            height: 314px;
            box-sizing: border-box;
        }

        &__top {
            padding-left: 32px;
            padding-bottom: 36px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            color: rgb(32, 32, 39);
        }

    }


    &-play2 {
        width: 378px;
        height: 535px;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 30px;
        background-color: white;
        transition: 1s;
        transform: 0.5s;


        &:hover {
            transform: scale(110%);

        }

        &__img {
            width: 100%;
            height: 314px;
            box-sizing: border-box;
        }

        &__top {
            padding-left: 32px;
            padding-bottom: 36px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            color: rgb(32, 32, 39);
        }
    }


    &-play3 {
        width: 378px;
        height: 500px;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 30px;
        background-color: white;
        grid-column: span 4;
        transition: 1s;
        transform: 0.5s;

        &:hover {
            transform: scale(110%);

        }


        &__img {
            width: 100%;
            height: 314px;
            box-sizing: border-box;
        }

        &__top {
            padding-left: 32px;
            padding-bottom: 36px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            color: rgb(32, 32, 39);
        }


    }


    &-play4 {
        width: 378px;
        height: 500px;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 30px;
        background-color: white;
        grid-column: span 4;
        transition: 1s;
        transform: 0.5s;

        &:hover {
            transform: scale(110%);

        }


        &__img {
            width: 100%;
            height: 314px;
            box-sizing: border-box;
        }

        &__top {
            padding-left: 32px;
            padding-bottom: 36px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            color: rgb(32, 32, 39);
        }


    }


    &-play5 {
        width: 378px;
        height: 470px;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 30px;
        background-color: white;
        transition: 1s;
        transform: 0.5s;

        &:hover {
            transform: scale(110%);

        }

        &__img {
            width: 100%;
            height: 314px;
            box-sizing: border-box;
        }

        &__top {
            padding-left: 32px;
            padding-bottom: 36px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            color: rgb(32, 32, 39);
        }
    }

    &-play6 {
        width: 378px;
        height: 500px;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 30px;
        background-color: white;
        grid-column: span 4;
        transition: 1s;
        transform: 0.5s;

        &:hover {
            transform: scale(110%);

        }


        &__img {
            width: 100%;
            height: 314px;
            box-sizing: border-box;
        }

        &__top {
            padding-left: 32px;
            padding-bottom: 36px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            color: rgb(32, 32, 39);
        }


    }




    &-bth {
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        width: 107px;
        color: black;
        margin-bottom: 16px;
        margin-top: 32px;
        margin-left: 32px;
        text-align: center;
    }

    &-button {
        display: none;
    }

    &-text {
        display: none;
    }
}

.match {
    background: rgb(32, 32, 39);

    &-conteiner {
        position: relative;
    }


    &-top {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 72px;
    }

    &-case {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 144px;
        position: relative;


    }

    &-star {
        display: block;
        position: absolute;
        right: -7%;
        top: 2%;
    }

    &-star2 {
        display: block;
        position: absolute;
        right: -2%;
        top: 1%
    }

    &-star3 {
        display: block;
        position: absolute;
        right: -6%;
        bottom: 2%;
    }

    &-star4 {
        display: block;
        position: absolute;
        right: 1%;
        bottom: 1%;
    }


    &-box {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        height: 500px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 30px;

        &__img {
            width: 600px;
            box-sizing: border-box;
        }

    }

    &-play {
        width: 600px;
        padding: 48px 48px;

        &__top {
            color: rgb(32, 32, 39);
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 46px;
        }


    }

    &-text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
    }

    &-button {
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 36px;
        cursor: pointer;

        &:hover {
            background: white;
            color: black;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}

.footer {
    height: 150px;
    width: 100%;
    background: rgb(189, 237, 53);

    &-text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 61px;
    }
}



@import 'mobile'